VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_SOLANA_RPC_URL=
VITE_BNB_TESTNET_RPC_URL=
VITE_BSCSCAN_TESTNET_API_KEY=
VITE_BITCOIN_TESTNET_API_URL=https://mempool.space/testnet/api
VITE_SOLANA_SPL_DEMO_MINT=
VITE_SOLANA_SPL_DEMO_SYMBOL=USDT-DEMO
VITE_SOLANA_SPL_DEMO_DECIMALS=6
VITE_BNB_BEP20_DEMO_CONTRACT=
VITE_BNB_BEP20_DEMO_SYMBOL=USDT-DEMO
VITE_BNB_BEP20_DEMO_DECIMALS=18
VITE_ADMIN_WALLET_SOLANA=
VITE_ADMIN_WALLET_BTC=
VITE_ADMIN_WALLET_BNB=
